html{color:#000;background:#fff;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
html,body{font-family: MicrosoftYaHei}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav{margin:0;padding:0}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
ins,a{text-decoration:none}
/**********  通用样式  *************/
.icon{display: inline-block;}
.a-button{display: inline-block;border-radius: 5px;background-color: #f36e6f;color: #fff;text-align: center;vertical-align: middle;}
.bg-image{background-position: center;background-size: cover;}

/********三角形**********/
.sanjiao-up{width: 0;height: 0;border-left: 27px solid transparent;border-right: 27px solid transparent;border-bottom: 54px solid #fff;}
.sanjiao-down{width: 0;height: 0;border-left: 27px solid transparent;border-right: 27px solid transparent;border-top: 54px solid #fff;}
.sanjiao-left{width: 0;height: 0;border-top: 27px solid transparent;border-right: 27px solid transparent;border-bottom: 54px solid #ccc;}
.sanjiao-right{width: 0;height: 0;border-top: 27px solid transparent;border-bottom: 27px solid transparent;border-left: 54px solid #ccc;}

/********隐藏**********/
.hidden{ display:none;}
.hide{visibility:hidden;}

/********段落**********/
.text1{ overflow:hidden; white-space:nowrap; text-overflow:ellipsis;} /*一行*/
.text2{ overflow:hidden; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;}/*两行*/
.text3{ overflow:hidden; display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical;}/*三行*/

/********div模拟table**********/
.table{ display:table; width:100%; border:0;}
.table .tr{ display:table-row;}
.table .td{ display:table-cell; vertical-align:middle;}

/********文字对齐**********/
.text-left{ text-align:left;}
.text-center{ text-align:center;}
.text-right{ text-align:right;}
.text-middle{ vertical-align:middle;}

/********虚线下边框**********/
.line-dot{ border-bottom:1px dotted #a7a7a7;}

/********浮动清浮动**********/
.flo-left{float: left;}
.flo-right{float: right;}
.clearfix:after{ content:"."; display:block; height:0; clear:both; visibility:hidden; zoom:1;}
.clear{ clear:both; display: block; font-size:0; height:0; line-height:0; overflow:hidden;}

/********定位**********/
.pos-fix{position: fixed;}
.pos-relative{position: relative;}
.pos-absolute{position: absolute;}

.opacity{opacity:0.5;filter:alpha(opacity=50);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}    /*透明（值越小越透明）*/
.radius5{-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;}    /*圆角*/

/********阴影**********/
.shadow1{-moz-box-shadow:0px 2px 5px #000;-webkit-box-shadow:0px 2px 5px #000;box-shadow:0px 2px 5px #000;}/*外阴影*/
.shadow2{-moz-box-shadow:0px 2px 5px #000 inset;-webkit-box-shadow:0px 2px 5px #000 inset;box-shadow:0px 2px 5px #000 inset;}/*内阴影*/

/********旋转**********/
.transform1{transform:rotate(45deg);transform-origin:0;}    /*旋转:以左上角为圆心*/
.transform2{transform:rotate(45deg);transform-origin:50%;}    /*旋转:以中心为圆心*/
.deg180{transform:rotate(180deg);-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);-moz-transform:rotate(180deg);}　　/*旋转180度*/

/********动画**********/
.transAnimate{transition: all 0.5s;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;}

/********居中**********/
.middleBlock{position: absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
