.content{
	width: 1200px;
	margin: 160px auto 200px;
	position: relative;
	min-height: 800px;
}
.content>img{
	position: absolute;
	left: -200px;
}
.content h1{
	font-size: 48px;
	color: #666666;
	line-height: 64px;
	padding-top: 90px;
	padding-bottom: 10px;
	text-align: right;
}
.content h2{
	font-size: 20px;
	color: #999999;
	letter-spacing: 0;
	line-height: 30px;
	padding-bottom: 60px;
	text-align: right;
}
.download{
	padding-bottom: 26px;
	margin-left: 76px; 
}
.download li{
	margin-bottom: 30px;
}
.download li a{
	display: inline-block;
	width: 140px;
	height: 44px;
	border-radius: 4px;
	margin-left: 40px;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	line-height: 44px;
}
.download li a.apply{
	background: #4A90E2;
	box-shadow: 0 2px 6px 0 #C3DFFF;
}
.download li a.disable{
	background: #CCCCCC;
	box-shadow: 0 2px 6px 0 #DDDDDD;
	cursor: default;
}
.download1{
	position: relative;
}
/*.download1 .Android:hover +.Android-cord{	
	display: inline-block;
}*/
.download1 .iOS:hover +.togllehover{	
	display: inline-block;
}
.togllehover{
	display: none;
	position: absolute;
	top: 60px;
	left: 40px;
}
.triangle{
	position: absolute;
	transform: rotate(-135deg);
	background: #FFFFFF;
	box-shadow: 0 0 10px 0 #D8E4F0;
	width: 17px;
	height: 17px;
	left: 60px;
}
.download1 .iOS-cord{
	position: absolute;
	width: 140px;
	height: 140px;
	padding: 10px;
	background: #FFFFFF;
	box-sizing: border-box;
	box-shadow: 0 0 10px 0 #D8E4F0;
	top: 10px;
}
.iOS-cord img{
	display: inline-block;
	width: 120px;
	height: 120px;

}
/*.download1 img.Android-cord{
	top: -50px;
	left: 400px;
}*/
.plugin li{
	margin-left: 15px;
	text-align: center;

}
.plugin li i{
	width: 48px;
	height: 48px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.plugin li p{
	font-size: 12px;
	color: #666666;
	line-height: 16px;
	padding-top: 14px;
	width: 74px;
}
/*elet*/
.elet-title{
	background: url(../images/elet_bg.png) no-repeat;
	background-size: contain;
    height: 380px;
    background-position-x: center;
}
.elet-title h1{
	font-size: 48px;
	color: #4F6492;
	text-align: center;
	line-height: 64px;
	padding-top: 160px;
}
.elet-text{
	width: 1100px;
	margin: 0 auto;
	padding-bottom: 60px;
	min-height: 800px;
}
.elet-text h1.special{
	padding-top: 0;
}
.elet-text h1{
	font-size: 20px;
	color: #333333;
	line-height: 26px;
	padding-top: 40px;
	padding-bottom: 20px;

}
.elet-text p{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	color: #666666;
	letter-spacing: 0;
	line-height: 30px;
}
/*源质OS*/
.os-text{

	background: url(../images/os_bg.png) no-repeat;
	background-size: 100%;
	width: 1028px;
	margin: 240px auto 104px;
	min-height: 800px;
}
.os-text h1{
	padding-top: 40px;
	padding-bottom: 60px;
	font-size: 30px;
	color: #333333;
	text-align: center;
	line-height: 40px;
	width: 100%
}
.os-text p{
	text-indent: 2em;
	width: 1000px;
	margin: 0 auto;
	font-family: MicrosoftYaHei;
	font-size: 16px;
	color: #666666;
	letter-spacing: 0;
	line-height: 36px;
	padding-bottom: 60px;
}
.os-text button{
	background-color: #FFFFFF;
	display: block;
	border: 1px solid #999999;
	border-radius: 28px;
	width: 190px;
	height: 48px;
	margin: 0 auto;
	text-align: center;
	line-height: 48px;
	font-size: 16px;
	color: #999999;
}