header{
    overflow: hidden;
    height: 60px;
}
main{
    width:100%;
    height: 100%;

    margin:0 atuo;
    padding: 40px 0;
    overflow: hidden;
    
}
.container{
    width: 1200px;
    margin: 0 auto;
    /* background: red; */
    overflow: hidden;
    /* display: flex; */
}

.container ul{
    width:180px;
    float: left;
}
.container .container-right{
    /* padding-left: 160px; */
    /* flex:1; */
    float:right;
    width:960px;
    overflow: hidden;
    position:relative;
    /* background: pink; */
    /* padding-top:14px; */
}
#all{
    position: absolute;
	left: 0;
	top: 0;
	right: -17px;
    bottom: 0;
    padding-right:17px;
    box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: scroll;
}
.container .title{
    font-family: MicrosoftYaHei;
    font-size: 20px;
    color: #333333;
    margin-top:28px;
}

.container .changeColor{
    font-family: MicrosoftYaHei;
    font-size: 16px;
    color: #666666;
    margin-top:18px;
    cursor: pointer;
}
.container .changeColor:hover{
    color: #4A90E2;
}


.container .container-right a{
    color: #4A90E2;
}
.container .container-right h2{
    font-family: MicrosoftYaHei;
    font-size: 26px;
    color: #333333;
    /* line-height: 60px; */
    padding:20px 0;
}
.container .container-right h4{
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #666666;
    line-height: 24px;
}
.container .container-right h3{
    font-family: MicrosoftYaHei;
    font-size: 20px;
    color: #333333;
    margin-bottom: 20px;
}
.container .container-right img{
    padding:10px 0;
}
.container .container-right p{
    font-size: 14px;
    color: #999999;
    padding:6px 0;
}
.container .container-right h4 img{
    padding:0;
    vertical-align: middle;
    display: inline;
}
.container .container-right p img{
    padding:0;
    vertical-align: middle;
    display: inline;
}
.lod{
    margin-top:30px;

 
}
.marginTop{
    margin-top:10px;
}
.container .container-right ol{
    overflow: hidden;
}
.container .container-right ol li{
    overflow: hidden;
    font-size: 14px;
color: #999999;
line-height: 24px;
}
.container .container-right .oldiv p{
    padding:0;
}
.myelet{
    margin-top:10px;
}
.myelet ol{
    margin-top:10px;
}
.container .container-right .userproblem h4{
    padding:12px 0 10px 0;
}
.userdescription{
    padding:10px 0;
}
.userproblem{
    padding: 10px 0;
}
