@import "base.css";
@import "sprite.css";
/*header*/
.btn-bar{
	background: url(../images/read.svg) no-repeat;
	width: 32px;
	height: 32px;
}
.btn-bar0{
	background: url(../images/close.svg) no-repeat;
	width: 32px;
	height: 32px;
}
.btn-bar1{
	background: url(../images/menu.svg) no-repeat;
	width: 32px;
	height: 32px;
}
.select{
 display: block;
}
header nav{
	width: 1200px;
	margin:0 auto;
}
.nav-wrap{
	position: fixed;
	z-index: 99;
	top: 0;
	width: 100%;
	height: 60px;
	background: #FFFFFF;
	border-bottom: 1px solid #DDDDDD;
}
/* .showing{
	opacity: 1;
} */
/* .hd-nav0{
	position: relative;
} */
.hd-nav0 .logo{
	width: 130px;
	height: 40px;
	background: url(../images/logo_blue.png) no-repeat;
	margin-top: 10px;
}

nav .nav-list>li{
	margin-top: 20px;
	margin-right: 30px; 
	font-size: 14px;
	line-height: 19px;
	height: 40px;
}
nav .nav-list li.Language{
	width:76px;
	height: 25px;
	margin-top: 14px;
	text-align: center;
	border: 1px solid #666666;
	border-radius: 4px; 
	padding-top: 6px;
}
nav .nav-list li.Language:hover{
	border: 1px solid #4A90E2;
}
.hd-nav0 .nav-list li a{
	font-size: 14px;
	color: #666666;
}
.hd-nav0 .nav-list li a:hover{
	color: #4A90E2;;
}
.hd-nav{
	position: relative;
}
.pro-download{
	position: relative;
}
.do-list{
	background: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(153,153,153,0.50);
	width: 110px;
	padding-bottom: 16px;
	position: absolute;
	top: 40px;
	left: -30px;
}
.do-list li{
	width: 100%;
	text-align: center;	
	margin-top: 16px;
}
.do-list li a{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	color: #666666;
	display: inline-block;
    width: 80px;

}
.do-list li:hover{
	color: #4A90E2;
}
/*content*/

/*bottom*/
footer{
	padding-top: 98px;
	padding-bottom: 40px;
	line-height: 19px;
	background: #3A3A3A;
	font-size: 14px;
	color: #999999;
	text-align: center;
	margin: 0 auto;
}
footer .third{
	width: 234px;
	margin-left: -30px;
	margin: 0 auto;
}
footer .third a{
	padding-right: 30px;
}
footer p{
	padding-top: 30px;
}
/*1200*/
@media (max-width: 1200px){
	header nav{
	width: 800px;
	}
	nav .nav-list>li {
	    margin-right: 20px;

	}
}
/*960*/
@media (max-width: 960px){
	header nav{
	width: 700px;
	}
	nav .nav-list>li {
	    margin-right: 10px;

	}
}
/*720*/
@media (max-width: 720px){
	
	.nav-list0{
		position: absolute;
		top: 50px;
		right: 0;
		width:120px;
		height: 125px;
		text-align: center;
		background: #fff;
		line-height: 30px;
		padding-top: 10px;
		color:rgba(74,144,226,1);
		z-index: 100;
		border-radius: 4px;
	}
	.nav-list0 li:hover{
			background:rgba(74,144,226,1);

	}
	.nav-list0 li a,.nav-list1 li a{
		display: block;
	}
	.nav-list0 li a:hover{
			color:#fff;

	}
	.nav-list1{
		position: absolute;
		top: 50px;
		right: 0;
		width:100%;
		text-align: center;
		background: #fff;
		line-height: 30px;
		color:#4A90E2;
		z-index: 100;
		box-shadow: 0 4px 5px -3px #ccc;
		padding-bottom: 10px;
	}
	.nav-list1 li:hover{
			background:rgba(74,144,226,1);

	}
	.nav-list1 li a:hover{
			color:#fff;

	}
	.nav-wrap{
		height: 50px;
	}
	.nav-list{
		display: none;
	}
	.btn-bar,.btn-bar1{
		display: block;
	}
	.hd-nav0 .logo,.hd-nav .logo{
	width: 100px;
	height: 32px;
	font-size: 12px;
	line-height: 32px;
	margin: 5px;
	background-size: 100%;
	}
	header nav{
	width: 320px;
	padding-top: 10px;
	}
	
	
	footer{
	padding-top: 30px;
	padding-bottom: 10px;
	font-size: 7px;
	}
	footer p{
		width: 300px;
		margin: auto;
	}
}