@import "base.css";
@import "sprite.css";

/*首页*/
.firstpage .bg-wrap{
	background-image: url(../images/elet_bg.jpg); 
	background-repeat: no-repeat;
	background-size: cover;

}
.mark{
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.3); 
}
section{
	position: absolute;
	top:50%;
	left: 50%;
	width: 456px;
	margin-left: -228px;
	margin-top: -215px;
}
section .logo-white{
	background: url(../images/logo_white.png) no-repeat;
	width: 260px;
	height: 80px;
	margin: 0 auto;
}
section p{
	font-size: 24px;
	color: #FFFFFF;
	width: 100%;
	text-align: center;
	line-height: 31px;
	margin-top: 40px;

}
.download-sub{
	margin-top: 10px;
	text-align: center;
}
.download1{
	margin-left: -70px;
	position: relative;
}
.triangle{
	position: absolute;
	transform: rotate(-135deg);
	background: #FFFFFF;
	box-shadow: 0 0 10px 0 #D8E4F0;
	width: 17px;
	height: 17px;
	top: 100px;
	left: 166px;
}
.download1 .iOS{
	position: absolute;
	width: 140px;
	height: 140px;
	padding: 10px;
	background: #FFFFFF;
	box-sizing: border-box;
	box-shadow: 0 0 10px 0 #D8E4F0;
	top: 109px;
	left: 104px;
}
.iOS img{
	display: inline-block;
	width: 120px;
	height: 120px;

}
/*.Android{
	left: 344px;
    top: 109px;
}*/
.download1 a{
	margin-left: 70px;
}
.download-sub a{
	display: inline-block;
	width: 170px;
	height: 48px;
	border: 1px solid #FFFFFF;
	border-radius: 8px;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 48px;
	margin-top: 40px;
}
.download-sub a:hover{
	background: #FFFFFF;
	color: #666666;
}
.disabled{
	background: #CCCCCC;
	cursor: default;
}
.download-sub a.disabled:hover{
	background: #CCCCCC;
	color: #FFFFFF;
}
/*about*/
.about{
	text-align: center;
    width: 1100px;
    margin: 0 auto;
    padding-bottom: 80px;

}
.about h1 {
	font-size: 24px;
	color: #333333;
    padding: 80px 0 40px 0;
}

.about p{
    font-size: 16px;
	color: #666666;
	letter-spacing: 0;
	text-align: center;
	line-height: 30px;
}
.product{
	background-color:  #F6F6F6;
	padding-bottom: 100px;
	padding-top: 80px;
	text-align: center;
}
.product h1{
	font-size: 24px;
	color: #333333;
	line-height: 31px;
	margin-bottom: 80px;

}
.product h2{
	font-size: 18px;
	color: #666666;
	line-height: 24px;
	margin-bottom: 6px;

}
.product p{
	font-size: 14px;
	color: #999999;
	letter-spacing: 0;
	line-height: 22px;
}
.product img{
	margin: 50px 21px;
}
.product .item{
	width: 964px;
	margin: 0 auto
}
.item1 h2{
	margin-top: 220px;
}
.item1 p{
	width: 314px;
}
.token{
    width: 1100px;
    margin: 0 auto;
}
.token-title {
    font-size:  24px;
    text-align: center;
    padding: 80px 0 60px 0;
}

.token-content {
	width: 500px;
    font-size: 18px;
    color: #666666;
}

.token-content-1{
	padding-bottom: 30px;
}
.token-content-2 {
    
    padding-bottom: 10px;
}
.token-content-2 p{
    margin-top: 10px;	
}
.token-percent {
 padding-right: 30px;
}
.partner {
	margin-top: 55px ;
	padding-bottom: 80px;
	text-align: center;
}
.partner h1{
	font-size: 24px;
	color: #333333;
	padding-top: 80px;
	padding-bottom: 40px;
}
.partner ul{
	width: 1080px;
	margin: 0 auto;
}
.partner li{
	width: 250px;
	height: 90px;
	margin-left: 20px;
	display: flex;
    align-items: center;
    justify-content: center;
	vertical-align: middle;
}
.develop{
	padding-bottom: 80px;
	background-image: linear-gradient(-180deg, #F7FAFF 0%, #E9F1FF 100%);
}
.develop h1{
	width: 100%;
	padding-top: 80px;
	font-size: 24px;
	color: #333333;
	text-align: center;
}
.develop h2{
	font-size: 20px;
	color: #666666;
}
.plan-step>div{
	font-size: 16px;
	color: #999999;
}
.develop p{
	font-size: 16px;
	color: #999999;
	height: 100px;
}
.develop .de-time1{
	width: 260px;
	text-align: right;
	margin-top: 115px;
}
.develop .de-time2{
	width: 260px;
	text-align: left;
	margin-top: 51px;
}
.develop .de-time3{
	display: none;
}
.develop .de-time2 p{
	padding-bottom: 3px;
}
.line-solid{
	width: 2px;
	height: 424px;
	background: #4A90E2;
	margin: 40px 36px 0 36px;
	position: relative;
}
.line-solid ul{
	position: absolute;
	top: 30px;
	left: -6px;
}
.circle{
	background: #FFFFFF;
	border: 3px solid #4A90E2;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	box-sizing: border-box;
	box-shadow: 0 0 8px 0 #B6D7FF;
	margin-bottom: 50px;
}
.line-dashed{
	height: 218px;
	border-left: 2px dashed #4A90E2;
	margin: 0 36px;
	position: relative;
	margin-top: 4px;
}
.line-dashed ul{
	position: absolute;
	top: 50px;
	left: -8px;
}
.develop .dev-time{
	width: 594px;
	margin: 0 auto ;
}

/*1200*/
@media (max-width: 1200px){
	
	.about,.token{
		width: 900px;
	}
	.token-image img{
		width: 360px;

	}
	.partner ul{
		width: 810px;
	}
	.product img {
	    width: 260px;
	    margin: 50px 0px;
	}
	.product .item {
    	width: 890px;
	}
}
/*960*/
@media (max-width: 960px){
	
	.product{
		display: none;
	}
	.about,.token{
		width: 700px;
	}
	.token-image{
		width: 100%;
    	text-align: center;

	}
	.token-content{
		width: 490px;
	    float: inherit;
	    margin: 0 auto;

	}
	.partner ul {
	    width: 540px;
	}
	
}
/*720*/
@media (max-width: 720px){
	.about,.token{
		width: 320px;
	}
	.token-image img{
		width: 320px;

	}
	.token-content{
		width: 320px;
	    float: inherit;
	    margin: 0 auto;

	}
	.partner ul {
	    width: 250px;
	}
	.partner li{
		margin-left: 0;
	}
	.de-time1,.de-time2{
		display: none;
	}
	.develop .de-time3{
		display: block;
		margin-top:46px;
		font-size: 14px;
	}
	.develop .de-time3 p{
		padding-bottom: 15px;;
	    width: 260px;
	    height: 22px;
	}
	.line-dashed{
		margin: 0 0 0 10px;
	}
	.develop .dev-time{
		width: 320px;
	}
	.line-solid {
	    margin: 20px 36px 0 10px;
	}
	.nav-list0{
		position: absolute;
		top: 50px;
		right: 0;
		width:120px;
		height: 125px;
		text-align: center;
		background: #fff;
		line-height: 30px;
		padding-top: 10px;
		color:rgba(74,144,226,1);
		z-index: 100;
		border-radius: 4px;
	}
	.nav-list0 li:hover{
			background:rgba(74,144,226,1);

	}
	.nav-list0 li a,.nav-list1 li a{
		display: block;
	}
	.nav-list0 li a:hover{
			color:#fff;

	}
	.nav-list1{
		position: absolute;
		top: 50px;
		right: 0;
		width:100%;
		text-align: center;
		background: #fff;
		line-height: 30px;
		color:#4A90E2;
		z-index: 100;
		box-shadow: 0 4px 5px -3px #ccc;
		padding-bottom: 10px;
	}
	.nav-list1 li:hover{
			background:rgba(74,144,226,1);

	}
	.nav-list1 li a:hover{
			color:#fff;

	}
	.nav-wrap{
		height: 50px;
	}
	.nav-list{
		display: none;
	}
	.btn-bar,.btn-bar1{
		display: block;
	}
	.hd-nav0 .logo,.hd-nav .logo{
	width: 100px;
	height: 32px;
	font-size: 12px;
	line-height: 32px;
	margin: 5px;
	background-size: 100%;
	}
	header nav{
	width: 320px;
	padding-top: 10px;
	}
	.test-video{
	width: 320px;
	height: 240px;
	margin: 40px auto;
	}
	.wuli{
		width: 320px;
		height: 240px;
	}
	/*.content-wrap{
		height: 2250px;
	}*/
	.content{
	width: 320px;
    height: 2100px;
	}
	.title{
	height: 20px;
	font-size: 20px;
	line-height: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	}
	.passage{
	font-size: 16px;
	line-height: 24px;
	width: 300px;
	margin: 8px auto;

	}
	.title0{
	padding-top: 20px;
	font-size: 24px;
	}
	.wrap{
	width: 360px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	}
	footer{
	padding-top: 30px;
	padding-bottom: 10px;
	font-size: 7px;
	}
	footer p{
		width: 300px;
		margin: auto;
	}
}
